Markus <markus.pasula@supercell.com> <markus.pasula@gmail.com>
Markus <markus.pasula@supercell.com>
Johannes <johannes.cole@supercell.com>
Stefan <stefan.hauk@supercell.com>
Roland <rolands.tiss@supercell.com>
